body {
    padding: 0px 140px 0px;
}
.ourprocess {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Raleway ;
}
.topblock {
    margin-top: 70px;
    width: 100%;
    text-align: center;
}
.headline {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0;
    height: 2px;
    background: #ff8b38;
    width: 65px;
}
.bottomblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
    padding: 0px 15px 0px;
    flex: 1;
    text-align: center ;
}
.headtext {
    padding: 25px 0px;
}